<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/main.css">
</head>
<body>
    <h1 style="color: blue;">Profile</h1>
    <h2>Hello, <%= user %></h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam recusandae quaerat dolore officia nam, fugiat saepe, autem veritatis quasi, quidem maiores. Fugit ab perferendis, quaerat dolore porro a maxime incidunt?</p>
</body>
</html>